* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.App {
  height: 100vh;
  display: flex;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #020230),
    url("./assets/bg.jpg") no-repeat center;
}

.prize {
  width: 25%;
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prizeList {
  list-style: none;
  width: 90%;
}

.money {
  display: flex;
  align-items: center;
}

.money.active {
  background-color: teal;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.moneyNumber {
  font-weight: 300;
  width: 20%;
  text-align: center;
  margin-right: 5px;
  padding: 5px 0;
  font-size: 14px;
}

.moneyAmount {
  font-weight: 500;
  letter-spacing: 1.4px;
  font-size: 18px;
}

.top {
  position: absolute;
  bottom: 50vh;
  width: 100%;
}

.timer {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.bottom {
  position: absolute;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question {
  text-align: center;
  width: 80%;
  padding: 10px;
  background: linear-gradient(to bottom, #100241, #015);
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
}

.answers {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.answer {
  background: linear-gradient(to bottom, #100241, #015);
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  background: green;
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(to bottom, #100241, #015);
  }
  62% {
    background: green;
  }
}

.answer.wrong {
  background: rgb(255, 7, 57);
   animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(to bottom, #100241, #015);
  }
  62% {
    background: crimson;
  }
}
